#body{background-color: black;}
.logo_tailor{
    background: url(imagenes/Captura.PNG);
    border: solid 1px black;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin: auto;}
#collapsibleNavbar{margin:auto !important;}
