#body{background-color: black;}
.logo_tailor{
    background: url(imagenes/Captura.PNG);
    border: solid 1px black;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin: auto;}
#collapsibleNavbar{margin:auto !important;}

.card{
    align-content: left;
    text-align: center;
    position: unset;
    width: 600px;
    background-color: rgb(54, 54, 54);
    float: left;
    
}
.como{
    position: unset;                                                      
    text-align: center;
    border-color: white;

    
}
.card-deck{
    padding: 0%;
    position: unset;
    align-items: center;
}
footer{
    position:relative;
    margin-top: auto;
    align-items:unset;
    align-content:center;

}
.ropa{
    margin-left: 300px !important;
}
.margen{ float: left;
}
.sinmargen{
        float: left;
}
div{
    /*border: 1px solid white*/
}
